body {
	font-family: sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin-top: 10%;
	font-size: 1.75rem;
}

.container span {
	margin-right: 1rem;
}

.container input {
	padding: 0.5rem 0.5rem;
}

.comp {
	display: flex;
	margin-bottom: 1rem;
}
